html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    display: grid;
    grid-template: 1fr 2fr 2fr 4fr;
}

.sidebar {
    background-color: cornflowerblue;
}

.main, 
.extras {
    background-color: #e4e4ee;
}

@media only screen and (min-width: 700px) {
    body {
        height: 100vh;
        grid-template: 1fr 3fr / 1fr 3fr 1fr;
    }

    .sidebar {
        grid-row: 1/3;
    }

    .header{
        grid-column: span 2;
        grid-row-start: 1;
    }

    .main {
        grid-row-start: 2;
    }

    .extras {
        grid-column: 3;
        grid-row-start: 2;
    }
}