html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body, 
.sidebar,
.header,
.header__greeting,
.header__action-buttons,
.main__card-container,
.card,
.side-features,
.side-features__announcements,
.side-features__trending,
.side-features__trending article {
    display: grid;

    font-family:  sans-serif;
}

.sidebar,
.header__action-buttons button {
    background-color: cornflowerblue;
}

.header__notifications,
.card,
.card button,
.side-features__announcements,
.side-features__trending {
    background-color: white;
}

.main, 
.side-features,
#search {
    background-color: #e6e6f0;
}

button:hover {
    cursor: pointer;
}

/* Typography */

.sidebar a,
.header__user a,
.header__greeting,
.header__action-buttons button,
.main > p,
.card h5,
.side-features > div > p,
.side-features__announcements article > a > p:first-of-type,
.side-features__trending article a:first-of-type {
    font-weight: 600;
}

.header__user a,
.sidebar a,
.side-features__announcements article a,
.side-features__trending article a {
    text-decoration: none;
}

.sidebar a,
.sidebar__header > h2,
.header__action-buttons button {
    color: white;
}


/* Header styling */

.header {
    box-shadow: -1px 10px 5px -5px #c8c8d1;
    z-index: 0;
    padding: 10px;
}

.header__search {
    display: flex;
    align-items: center;
    gap: 15px;
}

#search {
    border-radius: 50px;
    width: 90%;
}

#search:focus {
    outline: 2px solid cornflowerblue;
}

.header__notifications {
    width: min-content;
    height: min-content;
}

/* Main styling */

.main {
    padding: 30px 50px;
}

.main > p {
    font-size: 1.3rem;
    margin: 30px 0 20px 0;
}

.main__card-container {
    grid-auto-rows: 1fr;
    gap: 30px;
}

.card {
    padding: 20px;
    border-radius: 10px;
    border-left: 10px solid #a1b5da;
    box-shadow: 10px 10px 5px -5px #c8c8d1;

    grid-template: 1fr 2fr 1fr/ 1fr 1fr;
}

.card h5 {
    font-size: 1.2rem;
    width: max-content;
}

.card p {
    grid-column: span 2;

    height: fit-content;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.card button {
    width: fit-content;
    justify-self: end; 
    align-self: start;
}
 
.card__button-container {
    grid-row: 3;
    grid-column: 2;
    justify-self: end; 
    align-self: end;
    white-space: nowrap;
}

/* Side feature styling */

.side-features__announcements,
.side-features__trending {
    gap: 5px;
}
.side-features > div > p {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.side-features__announcements article {
    padding-bottom: 5px;
    border-bottom: 1px solid #c8c8d1;
}

.side-features__announcements article:last-of-type,
.side-features__trending article:last-of-type {
    border: none;
    padding-bottom: 0px;
}

.side-features__announcements article a,
.side-features__trending article a {
    color: black;
}

.side-features__announcements article > a > p:first-of-type {
    padding-bottom: 5px;
}

.side-features__trending article a {
    display: block;
}

.expand-button,
.collapse-button {
    display: none;
}

/* Icon and image styling */
.invert {
    filter: invert() brightness(100%);
}

.header__user img,
.header__greeting > img,
.side-features__trending img {
    border-radius: 50%;
}

.side-features__trending img {
    max-width: 100%;
    height: auto;
}

/* Mobile specific styling */

@media only screen and (max-width: 700px) {
    body {
        grid-template: repeat(4, auto);
    }

    .sidebar,
    .header,
    .main,
    .side-features {
        width: 100vw;
    }

    .sidebar {
        padding: 10px;
        position: fixed;
        z-index: 2;

        grid-template-columns:1fr 1fr 1fr;
        grid-template-rows: auto auto auto;
    }

    #hamburger-menu {
        background-color: cornflowerblue;
        grid-column: 3;
        justify-self: end;
    }

    #hamburger-menu img {
        width: 50px;
        height: 50px;
    }

    .sidebar__links,
    .sidebar__links img,
    .sidebar__header h2 {
        display: none;
    }

    .sidebar__links {
        width: 50vw;
        padding: 10px 15px 15px 10px;
        position: absolute;
        background-color: cornflowerblue;
        font-size: 1.5rem;
        border-bottom-left-radius: 10px;
        top: 90px;
        left: 47.7vw;
       
        gap: 10px;
        grid-column: 1; 
        text-align: end;   
    }

    /* Header styling for mobile */

    .header {
        grid-template: repeat(1fr, auto-fit) / 1fr 1fr; 
        align-items: center;
        gap: 20px;
        padding-top: 115px;
    } 

    .header__search {
        grid-row: 2;
        grid-column: span 2;
    }

    .header__user {
        grid-column: 2;
        
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 30px;
    }

    .header__greeting {
        grid-column: 1;
        grid-row: 1;
    }

    .header__greeting p:last-of-type {
        font-size: 1.5rem;
    }

    .header__user a:last-of-type,
    .header__greeting img {
        display: none;
    }

    .header__action-buttons {
        grid-row: 3;
        grid-column: span 2;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10vw;
        padding: 0 10px;
    }

    .header__action-buttons button {
        padding: 10px;
        border-radius: 20px;  
    }

     /* Side-feature section styling for mobile */

     .side-features {
        padding: 10px;
        position: relative;

        grid-row: 2;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        height: 15vh;
        overflow: hidden;
    }

    .side-features__announcements,
    .side-features__trending {
        padding: 10px;
        border-radius: 10px;
        box-shadow: -1px 10px 5px -5px #c8c8d1;

        gap: 10px;
    }

    .side-features__announcements > article > a > p:last-of-type {
        display: none;
    }

    .side-features__trending article {
        grid-template-columns: 1fr 3fr;
        gap: 5px;
    }

    .side-features__trending article > div {
        display: grid;
    }

    .side-features__trending article > div > a:last-of-type {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .side-features__trending img {
        max-width: 100%;
        height: auto;
    }

    .expand-button.visible,
    .collapse-button.visible {
        display: block;
        position: absolute;
        background-color: transparent;
    }

    .expand-button.visible {
        top: 80%;
        left: 47%;
        z-index: 1;
    }

    .expanded {
        height: 113%;
        overflow: visible;
        box-shadow: -1px 10px 5px -5px #c8c8d1;
    }

    .collapse-button.visible {
        top: 90%;
        left: 47%;
    }

    .fade::after {
        position: absolute;
        right: 0px; 
        height: 15vh;
        width: 100%;
        content: "";
        background: linear-gradient(to top, #e4e4ee, transparent);
    }
}

/* Desktop-specific styling */
@media only screen and (min-width: 700px) {
    html {
        font-size: 1vw;
    }

    body {
        height: 100vh;
        grid-template: 1fr 3fr / 1fr 3fr 1fr;
    }

    .sidebar {
        grid-row: 1/3;
    }

    .header{
        grid-column: span 2;
        grid-row-start: 1;
        
    }

    .main {
        grid-row-start: 2;
    }

    .side-features {
        grid-column: 3;
        grid-row-start: 2;
    }

    /* Sidebar styling for desktop */

    .sidebar {
        
        padding: 30px 30px;
        grid-template-rows: repeat(3, min-content);  
        gap: 50px;
    }

    .sidebar__header {
        grid-row: 1;
        
        display: flex;
        align-items: center;
        gap: 20px;

        font-size: 2.5rem;
        font-weight: 900;  
    }

    .hamburger-menu {
        display: none;
    }

    .sidebar__links {
        display: grid;
        grid-template-rows: repeat(auto-fit, min-content);
        gap: 20px;
        padding-left: 5px;
    }

    .sidebar__links a:nth-of-type(7) {
        margin-top: 30px;
    }

    .sidebar a {
        font-size: 1.5em;

        display: flex;
        align-items: center;
        gap: 20px;
    }

    .sidebar a:hover {
        text-decoration: underline;
    }

    /* Header styling for desktop */

    .header {
        padding: 10px 50px 30px 50px;

        grid-template: min-content 1fr / 3fr 1fr;
    }

    .header__search input {
        padding: 5px 10px;
        line-height: 2rem;
    }

    .header__user {
        display: grid;
        grid-template-columns: repeat(2, min-content) max-content;
        gap: 20px;
        align-items: center;
        justify-content: end;
    }

    .header__user a {
        color: black;
        font-size: 1.5rem;    
    }

    .header__greeting {
        grid-template-columns: 1fr 1fr/ min-content 1fr;
        justify-content: left;
        align-items: end;
    }

    .header__greeting img {
        grid-row: 1/3;
        margin-right: 20px;
    }

    .header__greeting p:first-of-type {
        grid-column: 2;
        
        margin-top: 40px;
        font-size: 1.3rem;
    }

    .header__greeting p:last-of-type {
        font-size: 2.5rem; 
        margin-right: 30px;
    }

    .header__action-buttons {
        grid-template-columns: repeat(3, 1fr);
        align-items: end;
        gap: 30px;
    }

    .header__action-buttons button {
        width: 8rem;
        padding: 10px;
        border-radius: 50px;
        font-size: 1.3rem;
    }

    /* Main styling for desktop */

    .main__card-container {
        grid-template-columns: 1fr 1fr;
    }

    /* Side-feature styling for desktop */

    .side-features {
        padding: 30px 50px 30px 0px;
        
        grid-template-rows: repeat(2, auto);
        gap: 30px;
    }

    .side-features > div > p {
        font-size: 1.3rem;
        margin-bottom: 20px;
    }

    .side-features > div:first-of-type > p {
        margin-top: 30px;
    }

    .side-features__announcements,
    .side-features__trending {
        padding: 20px;
        border-radius: 10px;
        box-shadow: -1px 10px 5px -5px #c8c8d1;

        gap: 10px;
    }

    .side-features__announcements article {
        padding-bottom: 10px;
    }
    
    .side-features__announcements article > a > p:last-of-type {
        height: fit-content;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }

    .side-features__trending {
        grid-template: repeat(4, 1fr);
    }

    .side-features__trending article {
        padding-bottom: 10px;
        
        grid-template-columns: 1fr 2fr;
        gap: 10px;
        align-items: center;
    }

    /* Scrollbar styling for desktop */

    ::-webkit-scrollbar {
        width: 10px;  /*works*/
        scrollbar-color: white #c8c8d1;  /* everything only works with this on?*/
    }

    ::-webkit-scrollbar-track-piece {
        border-radius: 10px;
        background-color: white;  /*works*/
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 10px;   /* works*/
        background-color: #b4b4c7;  /*works*/
    }
}