html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
    display: grid;

    font-family: sans-serif;
}

.main, 
.extras {
    background-color: #e4e4ee;
}

/* Sidebar styling */

.sidebar {
    background-color: cornflowerblue;

    display: grid;
}

.sidebar a,
.sidebar__header > h2,
.header__action-buttons button {
    color: white;
}

.sidebar a {
    text-decoration: none;
}

/* Mobile sidebar styling */

@media only screen and (max-width: 700px) {
    body {
        grid-template: 1fr 3fr / 1fr 4fr;
    }
    
    .extras {
        display: none;
    }

    .sidebar {
        grid-row: 1/3;
    
        grid-template-rows: repeat(3, min-content);
        gap: 30px;
        justify-items: center;
    }
    
    .sidebar__header > h2,
    .sidebar a {
        visibility: hidden;
        font-size: 1px;
    }
    
    .sidebar a > img {
        visibility: visible;
        display: block;
    }

    .sidebar a > img:active {
        background-color: #ffffff65;
        border: 1px solid white;
        border-radius: 5px;
    }

    .sidebar__header,
    .sidebar__links-a,
    .sidebar__links-b {
        position: fixed;
    }

    .sidebar__header > img {
        width: 70px;
        height: 73px;
        padding-top: 3px;
    }
    .sidebar__links-a {
        top: 110px;
    }

    .sidebar__links-b {
        top: 430px;
    }
}

/* Header styling */

.header {
    padding: 10px;

    display: grid;
}

#search {
    background-color: #e4e4ee;
    border-radius: 50px;
}

#search:focus {
    outline: 2px solid cornflowerblue;
}

.header__greeting {
    display: grid;
}

.header__action-buttons button {
    background-color: cornflowerblue;
    font-weight: 600;
}

/* Icon and image styling */
.invert {
    filter: invert() brightness(100%);
}

.header__user img,
.header__greeting > img {
    border-radius: 50%;
}

@media only screen and (min-width: 700px) {
    body {
        height: 100vh;
        grid-template: 1fr 3fr / 1fr 3fr 1fr;
    }

    .sidebar {
        grid-row: 1/3;
    }

    .header{
        grid-column: span 2;
        grid-row-start: 1;
    }

    .main {
        grid-row-start: 2;
    }

    .extras {
        grid-column: 3;
        grid-row-start: 2;
    }

    /* Sidebar styling for desktop */

    .sidebar {
        padding: 30px 30px;
        grid-template-rows: repeat(3, min-content);  
        gap: 50px;
    }

    .sidebar__header {
        grid-row: 1;
        
        display: flex;
        align-items: center;
        gap: 20px;

        font-size: 2.5rem;
        font-weight: 900;  
    }

    .sidebar__links-a,
    .sidebar__links-b {
        display: grid;
        grid-template-rows: repeat(auto-fit, min-content);
        gap: 20px;
        padding-left: 5px;
    }

    .sidebar a {
        font-size: 1.5rem;
        font-weight: 600;      

        display: flex;
        align-items: center;
        gap: 20px;
    }

    .sidebar a:hover {
        text-decoration: underline;
    }

    /* Header styling for desktop */

    .header {
        padding: 10px 50px 30px 50px;

        grid-template: min-content 1fr / 3fr 1fr;
    }

    .header__search {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    .header__search input {
        padding: 5px 10px;
        line-height: 2rem;
        width: 90%;
    }

    .header__user {
        display: grid;
        grid-template-columns: repeat(2, min-content) max-content;
        gap: 20px;
        align-items: center;
        justify-content: end;
    }

    .header__notifications {
        width: min-content;
        height: min-content;
        background-color: white;
    }

    .header__user a {
        text-decoration: none;
        color: black;
        font-weight: 600;
        font-size: 1.5rem;
        
    }

    .header__greeting {
        grid-template-columns: 1fr 1fr/ min-content 1fr;
        justify-content: left;
        align-items: end;
    }

    .header__greeting img {
        grid-row: 1/3;
        margin-right: 20px;
    }

    .header__greeting p {
        grid-column: 2;
        
        margin-top: 40px;
        font-size: 1.3rem;
        font-weight: 600;
    }

    .header__greeting h2 {
        font-size: 2.5rem;
        font-weight: 600;  
        margin-right: 30px;
    }

    .header__action-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: end;
        gap: 30px;
    }

    .header__action-buttons button {
        width: 130px;
        padding: 10px;
        border-radius: 50px;
        font-size: 1.3rem;
    }
}